# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Directories
target/
test-results-native/

# OS generating files
.DS_Store
Thumbs.db

# GraalVM native build configuration files
src/main/resources/META-INF/native-image
